* {
	box-sizing: border-box;
}
body {
 	font-family: 'Lato', sans-serif;
 	background: #EDEFF0;
 }

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.alert {
	color: white;
	padding: 1.2em;
	border-radius: 0.5em;
}

.alert-danger {
	background-color: #d04949;
}

.alert-info {
	background-color: #5bac39;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background: white;
	#logo {
		float: left;
		a {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 1.2rem;
			text-decoration: none;
			color:#397CAC;
			cursor: pointer;
		}
	}
	#buttons {
		float: right;
		a {
			line-height: 60px;
			background: #397CAC;
			padding: .5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 300;
			cursor: pointer;
		}
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;

		&:last-child {
			border-bottom: none;
		}
		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 300;
				font-size: 1.25rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

.button {
	color: #397CAC;
	border: 1px solid #397CAC;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-right: 2%;
	cursor: pointer;
}

form.button, .manage-buttons form {
	display: inline;
}

#post_content_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: #397CAC;
		margin-top: 0;
	}
	p {
		color: #545658;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.5;
	}
	#comments {
		.comment {
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.content {
				width: 75%;
				float: left;
			}
			.buttons {
				width: 25%;
				float: left;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				cursor: pointer;
				a {
					color: #397CAC;
					border: 1px solid #397CAC;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
					cursor: pointer;
				}
				form {
					float: right;
					cursor: pointer;
				}
			}
			.comment_content {
				margin: 0;
				padding: 0;
			}
			.comment_author {
				color: #397CAC;
				margin-top: .5rem;
				font-size: 0.6em;
				font-weight: 700;
			}
		}
		input[type="submit"] {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
			cursor: pointer;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}
}

.white-background {
	  background: white;
    padding: 2em 5%;
    border-radius: .5em;

		h1 {
			font-weight: 100;
			font-size: 2em;
			color: #397CAC;
			margin-top: 0;
		}
}

#post_title {
	width: 100%;
	border: 1px solid #d1d1d1;
	border-radius: .2em;
	margin: 1em 0;
	padding: 0.5em 0.5em;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	border: 1px solid #d1d1d1;
	border-radius: .2em;
	margin: 1em 0;
	padding: 0.5em 0.5em;
}

#post_content, #comment_comment {
	width: 100%;
  min-height: 200px;
	border: 1px solid #d1d1d1;
	border-radius: .2em;
	margin: 1em 0;
	padding: 0.5em 0.5em;
}

input[type="submit"] {
	background: #397CAC;
	padding: .5em 1em;
	border-radius: 0.2em;
	color: white;
	text-decoration: none;
	font-weight: 300;
	cursor: pointer;
	border: none;
}

.new-post-button {
	margin-right: 10px;
}

form[action="/logout"] {
	float: right;
}

form a.logout-button {
	background: #D04949!important;
}

.help-block {
	width: 100%;
	display: block;
	text-align: center;
	background: #D04949;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	color: white;
	border-radius: 0.2em;
}